@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/core/mixins';
@import '~@nebular/theme/styles/core/functions';

@include nb-install-component() {
  .lab-switcher {
    .btn {
      display: flex;
      font-size: 1.25rem;
      padding: 0.8rem 1.25rem;
      align-items: center;
      cursor: pointer;
      background-color: nb-theme(switcher-background);
      border-radius: nb-theme(radius);
      border: 0;

      &:hover {
        $color: nb-theme(switcher-background);
        $percentage: nb-theme(switcher-background-percentage);

        background-color: tint($color, $percentage);
      }

      span {
        margin: 0 1.2rem;
      }

      @include nb-for-theme(default) {
        color: #2a2a2a;
      }

      @include nb-for-theme(cosmic) {
        color: #ffffff;
      }

      @include nb-for-theme(corporate) {
        color: #ffffff;
      }

      i {
        font-size: 1.8rem;
        border-radius: 50%;
        position: relative;

        @include nb-for-theme(default) {
          color: nb-theme(color-success);
        }

        @include nb-for-theme(corporate) {
          color: nb-theme(color-fg-highlight);
        }

        &::before {
          // Hack for IE11, IE11 should not set background
          background: nb-theme(drops-icon-line-gadient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }


    .dropdown-menu {
      background-color: nb-theme(switcher-background);

      @include nb-for-theme(default) {
        color: #2a2a2a;
        background-color: #bbbbbb;
      }

      @include nb-for-theme(cosmic) {
        color: #ffffff;
      }

      @include nb-for-theme(corporate) {
        color: #ffffff;
        background-color: #444444;
      }

      border-top: unset;
    }
  }

  .dropdown-item {
    cursor: pointer;
  }
}


