@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/core/mixins';
@import '~@nebular/theme/styles/core/functions';

.bsoneditor-root {
  padding-bottom: 5px;
}

@include nb-install-component() {
  /deep/ {
    .bsoneditor {
      border: 1px solid nb-theme(border-color);
      line-height: unset;
    }
    .bsoneditor-menu {
      /*display: none;*/
      background-color: nb-theme(color-fg);
      border-bottom: 1px solid nb-theme(border-color);
      padding-left: 0 !important;
      color: nb-theme(color-bg);
    }
    .bsoneditor-menu {
      button {
        color: nb-theme(color-bg);
      }
    }

    div.bsoneditor-contextmenu {
      .bsoneditor-expand, .bsoneditor-separator {
        border-color: #444444 !important;
      }
    }
    div.bsoneditor-tree {
      height: inherit;
      [type=checkbox] {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        overflow: hidden;
      }
    }
    table {
      border-spacing: 0;
    }
    div.bsoneditor-tree table.bsoneditor-tree {
      margin: 0;
    }
    div.bsoneditor-contextmenu ul li button.bsoneditor-selected,
    div.bsoneditor-contextmenu ul li button.bsoneditor-selected:hover,
    div.bsoneditor-contextmenu ul li button.bsoneditor-selected:focus {
      background-color: #444444;
    }
    .bsoneditor-mode-view {
      width: 100%;
      height: 100% !important;
    }
    .bsoneditor-mode-tree {
      width: 100%;
      height: 100% !important;
    }

    @include nb-for-theme(cosmic) {
      .bsoneditor-menu {
        background-color: #494299;
        button {
          color: #d1d1ff;
        }
        .bsoneditor-selected {
          background-color: rgba(0, 255, 170, 0.25);
        }
      }
      .bsoneditor-field {
        color: #d1d1ff;
      }
      .bsoneditor-number {
        color: #33e092;
      }
      .bsoneditor-string {
        color: #339fff;
      }
      .bsoneditor-objectId {
        color: orange;
      }
      .bsoneditor-date {
        color: lightcoral;
      }
      .bsoneditor-boolean {
        color: #d85786;
      }
      .bsoneditor-readonly {
        color: #a1a1e5;
      }
      .bsoneditor-highlight {
        background-color: rgba(255, 255, 255, 0.25);
      }

      div.bsoneditor-field[contenteditable=true]:focus,
      div.bsoneditor-field[contenteditable=true]:hover,
      div.bsoneditor-value[contenteditable=true]:focus,
      div.bsoneditor-value[contenteditable=true]:hover,
      div.bsoneditor-field.bsoneditor-highlight,
      div.bsoneditor-value.bsoneditor-highlight {
        background-color: rgba(255, 255, 255, 0.25);
        border: 1px solid #d1d1ff;
        border-radius: 2px;
      }
    }

  }
}

