@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  .font-secondary .font-header .name {
    font-size: 4.5rem;
    line-height: 4rem;
    font-weight: nb-theme(font-weight-bold);
  }

  .font-main .font-header .name {
    font-size: 3rem;
    font-weight: nb-theme(font-weight-bold);
  }

  .font-row {
    &:first-child {
      margin-bottom: 2rem;
    }

    .header {
      align-items: baseline;
    }

    p {
      margin: 0;
    }
  }

  .headings-card {
    nb-card-body {
      padding: 1rem 1.25rem;
    }
    .header {
      padding-bottom: 0.675rem;
      margin-bottom: 0.675rem;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid nb-theme(separator);
    color: nb-theme(color-fg-heading);

    div:first-child {
      flex: 2;
      -ms-flex: 2 1 auto;
      line-height: 1;
      align-items: flex-end;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }

    .variants {
      flex: 1;
      -ms-flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      span {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }

    .detail {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: nb-theme(color-fg);
    }
  }

  .colors {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .color {
      width: 86px;
      height: 60px;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.25rem;
    }
  }

  .text-link {
    color: nb-theme(link-color);
  }

  .bg-link {
    background: nb-theme(link-color);
  }

  $padding: 1rem;

  nb-card-body {
    overflow: hidden;
    padding: $padding;
  }

  .info {
    margin-left: 45%;
    padding-top: 1rem;
    color: nb-theme(color-fg);
  }

  .echart {
    position: absolute;
    left: 1em;
    height: calc(100% - 6 * #{$padding} - 3.25rem);
    width: 40%;
  }

  .value {
    font-family: nb-theme(font-secondary);
    font-size: 2rem;
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(color-fg-heading);
  }

  .details {
    font-size: 1.25rem;
    font-weight: nb-theme(font-weight-bolder);
    line-height: 1;
    span {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .summary-container {
    display: flex;
    flex: 1;
    background-color: nb-theme(chart-panel-summary-background-color);
    box-shadow: nb-theme(chart-panel-summary-box-shadow);
    justify-content: space-between;
    padding: 1.5rem 4rem 1rem;
    margin-bottom: $padding;
    color: nb-theme(color-fg);
    font-weight: nb-theme(font-weight-bolder);
  }

  .value {
    font-size: 2rem;
    color: nb-theme(color-fg-heading);
    font-weight: nb-theme(font-weight-bold);
  }

  @include media-breakpoint-down(sm) {
    .value, .title {
      font-weight: nb-theme(font-weight-bold);
    }

    .title {
      font-size: nb-theme(font-size-sm);
    }

    .value {
      font-size: nb-theme(font-size-xlg);
    }
  }

  @include media-breakpoint-down(is) {
    .summary-container {
      padding-left: nb-theme(padding);
      padding-right: nb-theme(padding);
    }

    .value {
      margin-top: 0.5rem;
    }
  }

  .quickcard {
    height: calc(100% - 1.5rem);
    .btn {
      @include nb-ltr(margin, 0 0.75rem 2rem 0);
      @include nb-rtl(margin, 0 0 2rem 0.75rem);
      text-align: center;
      vertical-align: middle;
      font-size: 1.2rem;
    }
    i {
      padding-right: 0.5rem;
    }
  }
}
