<div class="row">
  <div class="col-md-12">
    <div class="header">
      <div *ngIf="!newName">
        <h2>{{ lab.name }} <a href="javascript:void(0)" (click)="editLabName()"><i class="nb-edit"></i></a></h2>
      </div>
      <div *ngIf="newName">
        <input class="form-control" [(ngModel)]="newName" (blur)="saveLabName()" (keydown.enter)="saveLabName()">
      </div>
      <div class="detail font-w-light">
        Lab ID: {{ lab.id }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card size="xsmall" class="solar-card">
      <nb-card-body *ngIf="labStats">
        <div class="summary-container">
          <div class="summory">
            <div class="title">Beakers</div>
            <div class="value">{{ labStats.collections }} / 10</div>
          </div>
          <div class="summory">
            <div class="title">Compounds</div>
            <div class="value">{{ labStats.objects }} / 10 k</div>
          </div>
          <div class="summory">
            <div class="title">Indexes</div>
            <div class="value">{{ labStats.indexes }} / 10</div>
          </div>
        </div>

        <div echarts [options]="fsOption" class="echart"></div>
        <div class="info">
          <div class="value">
            {{ labStats.fsUsedSize | bytes }}
          </div>
          <div class="details"><span>Out of </span>{{ labStats.fsTotalSize | bytes }} <span>Capacity</span></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card size="xsmall" class="solar-card">
      <nb-card-body *ngIf="labStats">
        <div class="summary-container">
          <div class="summory">
            <div class="title">Storage</div>
            <div class="value"> {{ labStats.storageSize | bytes }}</div>
          </div>
          <div class="summory">
            <div class="title">Data</div>
            <div class="value"> {{ labStats.dataSize | bytes }}</div>
          </div>
          <div class="summory">
            <div class="title">Index</div>
            <div class="value"> {{ labStats.indexSize | bytes }}</div>
          </div>
        </div>

        <div echarts [options]="quotaOption" class="echart"></div>
        <div class="info">
          <div class="value">
            {{ labStats.storageSize | bytes }}
          </div>
          <div class="details"><span>Out of </span>{{ labStats.quotaSize | bytes }} <span>Quota</span></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>Trusted Domain Origin</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="originTableSettings" [source]="allowOrigins" (createConfirm)="onCreateOrigin($event)" (editConfirm)="onEditOrigin($event)"
          (deleteConfirm)="onDeleteOrigin($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card class="quickcard">
      <nb-card-header>Chembase v0.0.1 (Unstable)</nb-card-header>
      <nb-card-body>
        <p>API Key: {{ lab.apiKey }}</p>
        <br>
        <p>
          <a class="btn btn-hero-info" href="javascript:void(0)" (click)="openModal(sdkModal)"><i class="ion-code-download"></i> SDK</a>
          <a class="btn btn-hero-primary" href="https://github.com/chembase"><i class="ion-social-github"></i> GitHub</a>
          <a class="btn btn-hero-success" href="https://github.com/chembase"><i class="ion-ios-help-outline"></i> Help</a>
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #sdkModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chembase Web SDK</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>{{SDK_USAGE}}</pre>
  </div>
</ng-template>
