<div class="row">
  <div class="col-md-12">
    <nb-card size="medium" class="headings-card">
      <nb-card-body>
        <div class="header">
          <div>
            <h2>{{ lab.name }}</h2>
          </div>
          <div class="detail font-w-light">
            {{ lab.id }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let origin of lab.allowOrigins">{{ origin }}</div>
          </div>
          <div class="col-xxxl-3 col-md-6" *ngFor="let i of [1,2,3,4]">
            {{ i }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


